@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrainsMono/JetBrainsMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.editor {
  min-width: 0;
}
