name: Deploy staging
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**/docs/**'
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  deploy:
    uses: exKAZUu-Research/reusable-workflows/.github/workflows/deploy.yml@main
    with:
      dot_env_path: .env.staging
      environment: staging
    secrets:
      DOT_ENV: ${{ secrets.DOT_ENV_STAGING }}
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
